html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  background: #f4f4f4;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  background: #fff;
  box-shadow: 0 0 5px #999;
}

.title-wrap,
.genre-wrap {
  margin-bottom: 10px;
}

.year-wrap,
.checkbox-wrap {
  margin-bottom: 15px;
}

.title-label,
.genre-label,
.year-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  color: #3d52a1;
}

.title-input,
.genre-input,
.year-input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  caret-color: #e62908;
}

.viewed-input,
.viewed-label {
  cursor: pointer;
}

.form__btns-wrap {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.form__btn {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  background: transparent;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.form__btn:hover {
  filter: brightness(115%);
}

.submit-btn {
  width: 100%;
  max-width: 140px;
  color: #fff;
  background: #3d52a1;
}

.cancel-btn {
  width: 100%;
  max-width: 280px;
  color: #fff;
  background: #858585;
}

.filter-delete-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;
  max-width: 900px;
}

.filter__wrap {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  max-width: 740px;
  background: #fff;
  box-shadow: 0 0 5px #999;
}

.filter__input,
.filter__select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.filter__input {
  width: 100%;
  max-width: 170px;
  caret-color: #e62908;
}

.filter__input::placeholder {
  color: #808080;
}

.filter__select {
  padding: 7px;
  width: 100%;
  max-width: 165px;
  cursor: pointer;
}

.delete__btn {
  align-self: self-end;
  border: 1px solid #757575;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  width: 100%;
  max-width: 140px;
  color: #616161;
  background: transparent;
  cursor: pointer;
  transition-property: border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.delete__btn:hover {
  border-color: #af2911;
  color: #af2911;
}

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  font-size: 16px;
  background: #fff;
  box-shadow: 0 0 5px #999;
}

.table,
.table__header,
.table__cell {
  border: 1px solid #ccc;
}

.table__header,
.table__cell {
  padding: 10px;
  text-align: left;
}

.table__header {
  font-weight: bold;
  background-color: #e9e8e8;
}

.action-btn {
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  background: #f8f9fa;
  cursor: pointer;
  transition-property: border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.action-delete {
  border-color: #af2911;
  color: #af2911;
}

.action-edit:hover {
  border-color: #757575;
  color: #616161;
}

.action-delete:hover {
  border-color: #e62908;
  color: #e62908;
}

.hidden {
  display: none !important;
}
