html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  padding: 30px;
  height: auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.price-list {
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
}

.price-item:not(:last-child) {
  margin-bottom: 10px;
}

.btns-wrap {
  width: fit-content;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  background: #d6d6da;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(105%);
}

.btn-sort-up {
  margin-right: 10px;
}
