html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #ccd5dd;
}

.promo {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 540px;
}

.promo__card {
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
}

.promo__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.promo__input-group {
  display: flex;
  column-gap: 10px;
}

.promo__input {
  flex-grow: 1;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  outline: none;
  caret-color: #589bf2;
  transition: border-color 0.3s ease-in-out;
}

.promo__input:focus {
  border-color: #589bf2;
}

.promo__input_success {
  color: #2e7d32;
}

.promo__btn {
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #fff;
  background-color: #589bf2;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.promo__btn:hover {
  background-color: #4a84d1;
}

.promo__status {
  display: none;
  min-height: 20px;
  font-size: 16px;
}

.promo__status_active {
  display: block;
}

.promo__status_success {
  font-weight: 700;
  color: #2e7d32;
}
