html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  padding: 30px;
  height: auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #ccc;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: fit-content;
}

.gallery__row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__item {
  display: block;
}

.gallery__image {
  display: block;
  border-radius: 8px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}
