html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  padding: 30px;
  height: auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #ccc;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.progress__line {
  border-radius: 4px;
  width: 100%;
  height: 20px;
  background: #5c5cff;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.progress__timer {
  font-weight: 500;
  font-size: 18px;
  color: #333;
}
