html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  padding: 30px;
  height: auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #ccc;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 640px;
}

.gallery__group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__img-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 20px;
}

.gallery__image {
  display: block;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.gallery__progress-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.gallery__progress-wrap_hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery__progress__line {
  border-radius: 4px;
  width: 100%;
  height: 20px;
  background-color: #5c5cff;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.gallery__progress__timer {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
