html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  min-width: 768px;
  height: auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #333;
  background: #c3cdd4;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  width: 100%;
  max-width: 900px;
}

.app__header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.app__title {
  font-weight: 700;
}

.app .header-btn {
  padding-right: 30px;
  padding-left: 30px;
}

.app__table-wrap {
  width: 100%;
  max-width: 900px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table__header {
  padding: 18px 25px;
  font-weight: 500;
  color: #fff;
  background: #333;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.table__header:hover {
  background: #1f1f1f;
}

.table__header[data-key]::after {
  content: "▼";
  display: inline-block;
  padding-left: 8px;
  color: transparent;
  transition: color 0.2s ease-in-out;
  transform: translateY(1px);
}

.table__header.sort-asc::after {
  content: "▲";
  color: #038078;
}

.table__header.sort-desc::after {
  content: "▼";
  color: #038078;
}

.table__row {
  border-bottom: 1px solid #ccc;
}

.table__row:last-child {
  border-bottom: none;
}

.table__row:hover {
  background: #f5f5f5;
  transition: background 0.2s ease-in-out;
}

.table__cell {
  padding: 10px 25px;
  text-align: start;
  vertical-align: middle;
}

.table__empty-cell {
  padding: 17px 25px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.table .table__delete-btn {
  padding: 8px 16px;
  width: 100%;
}

.form-title {
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 600px;
  background-color: transparent;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__input {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 15px 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  outline: none;
  caret-color: #286ed8;
  transition: border-color 0.2s ease-in-out;
}

.form__input:focus {
  border-width: 2px;
  border-color: #286ed8;
  padding: 14px 19px;
}

.form__input::placeholder {
  color: #8d8d8d;
}

.input_up {
  text-transform: capitalize;
}

.form__btn-wrap {
  display: flex;
  gap: 10px;
  width: 100%;
}

.form .form__submit-btn {
  flex-grow: 3;
}

.form .form__cancel-btn {
  flex-grow: 1;
}

.btn {
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}

.btn:hover {
  filter: brightness(110%);
}

.btn_primary {
  background: #038078;
}

.btn_danger {
  background: #bb001c;
}
